In [161]:
import os


def ensure_and_move_to_folder(folder_name):
  current_dir = os.getcwd()
  target_path = os.path.join(current_dir, folder_name)

  if not os.path.exists(target_path):
    os.makedirs(target_path)
    print(f"Folder '{folder_name}' created successfully.")
  else:
    print(f"Folder '{folder_name}' already exists.")

  #os.chdir(target_path)

In [162]:
folder_name = 'Python実践データ分析100本ノック'
ensure_and_move_to_folder(folder_name)

path = os.getcwd()

try:
    os.chdir('../VSCode2/Python実践データ分析100本ノック')
except:
    pass

os.getcwd()

Folder 'Python実践データ分析100本ノック' already exists.

'/Users/takanohiroshi/Library/CloudStorage/OneDrive-YokohamaInternationalExchangeAssociation/GitHub/VSCode2/Python実践データ分析100本ノック'

In [163]:
!

In [164]:
import pandas as pd
import polars as pl

customer_master = pl.read_csv('Data/customer_master.csv')
customer_master.head()

shape: (5, 9)
┌─────────────┬────────────┬──────────────┬──────────────┬─────┬────────┬─────┬───────────┬────────┐
│ customer_id ┆ customer_n ┆ registration ┆ customer_nam ┆ ... ┆ gender ┆ age ┆ birth     ┆ pref   │
│ ---         ┆ ame        ┆ _date        ┆ e_kana       ┆     ┆ ---    ┆ --- ┆ ---       ┆ ---    │
│ str         ┆ ---        ┆ ---          ┆ ---          ┆     ┆ str    ┆ i64 ┆ str       ┆ str    │
│             ┆ str        ┆ str          ┆ str          ┆     ┆        ┆     ┆           ┆        │
╞═════════════╪════════════╪══════════════╪══════════════╪═════╪════════╪═════╪═══════════╪════════╡
│ IK152942    ┆ 平田       ┆ 2019-01-01   ┆ ひらた       ┆ ... ┆ M      ┆ 29  ┆ 1990/6/10 ┆ 石川県 │
│             ┆ 裕次郎     ┆ 00:25:33     ┆ ゆうじろう   ┆     ┆        ┆     ┆           ┆        │
│ TS808488    ┆ 田村 詩織  ┆ 2019-01-01   ┆ たむら       ┆ ... ┆ F      ┆ 33  ┆ 1986/5/20 ┆ 東京都 │
│             ┆            ┆ 01:13:45     ┆ しおり       ┆     ┆        ┆     ┆           ┆        │
│ AS834628    ┆ 久野 由樹  ┆ 2019-01-01   ┆ ひさの ゆき  ┆ ... ┆ F      ┆ 63  ┆ 1956/1/2  ┆ 茨城県 │
│             ┆            ┆ 02:00:14     ┆              ┆     ┆        ┆     ┆           ┆        │
│ AS345469    ┆ 鶴岡 薫    ┆ 2019-01-01   ┆ つるおか     ┆ ... ┆ M      ┆ 74  ┆ 1945/3/25 ┆ 東京都 │
│             ┆            ┆ 04:48:22     ┆ かおる       ┆     ┆        ┆     ┆           ┆        │
│ GD892565    ┆ 大内 高史  ┆ 2019-01-01   ┆ おおうち     ┆ ... ┆ M      ┆ 54  ┆ 1965/8/5  ┆ 千葉県 │
│             ┆            ┆ 04:54:51     ┆ たかし       ┆     ┆        ┆     ┆           ┆        │
└─────────────┴────────────┴──────────────┴──────────────┴─────┴────────┴─────┴───────────┴────────┘

In [165]:
item_master = pl.read_csv("Data/item_master.csv")
item_master

shape: (5, 3)
┌─────────┬───────────┬────────────┐
│ item_id ┆ item_name ┆ item_price │
│ ---     ┆ ---       ┆ ---        │
│ str     ┆ str       ┆ i64        │
╞═════════╪═══════════╪════════════╡
│ S001    ┆ PC-A      ┆ 50000      │
│ S002    ┆ PC-B      ┆ 85000      │
│ S003    ┆ PC-C      ┆ 120000     │
│ S004    ┆ PC-D      ┆ 180000     │
│ S005    ┆ PC-E      ┆ 210000     │
└─────────┴───────────┴────────────┘

In [166]:
transaction_1 = pl.read_csv("Data/transaction_1.csv")
transaction_1.head()

shape: (5, 4)
┌────────────────┬────────┬─────────────────────┬─────────────┐
│ transaction_id ┆ price  ┆ payment_date        ┆ customer_id │
│ ---            ┆ ---    ┆ ---                 ┆ ---         │
│ str            ┆ i64    ┆ str                 ┆ str         │
╞════════════════╪════════╪═════════════════════╪═════════════╡
│ T0000000113    ┆ 210000 ┆ 2019-02-01 01:36:57 ┆ PL563502    │
│ T0000000114    ┆ 50000  ┆ 2019-02-01 01:37:23 ┆ HD678019    │
│ T0000000115    ┆ 120000 ┆ 2019-02-01 02:34:19 ┆ HD298120    │
│ T0000000116    ┆ 210000 ┆ 2019-02-01 02:47:23 ┆ IK452215    │
│ T0000000117    ┆ 170000 ┆ 2019-02-01 04:33:46 ┆ PL542865    │
└────────────────┴────────┴─────────────────────┴─────────────┘

In [167]:
transaction_detail_1 = pl.read_csv("Data/transaction_detail_1.csv")
transaction_detail_1.head()

shape: (5, 4)
┌───────────┬────────────────┬─────────┬──────────┐
│ detail_id ┆ transaction_id ┆ item_id ┆ quantity │
│ ---       ┆ ---            ┆ ---     ┆ ---      │
│ i64       ┆ str            ┆ str     ┆ i64      │
╞═══════════╪════════════════╪═════════╪══════════╡
│ 0         ┆ T0000000113    ┆ S005    ┆ 1        │
│ 1         ┆ T0000000114    ┆ S001    ┆ 1        │
│ 2         ┆ T0000000115    ┆ S003    ┆ 1        │
│ 3         ┆ T0000000116    ┆ S005    ┆ 1        │
│ 4         ┆ T0000000117    ┆ S002    ┆ 2        │
└───────────┴────────────────┴─────────┴──────────┘

In [168]:
transaction_2 = pl.read_csv("Data/transaction_2.csv")
transaction_2.head()

shape: (5, 4)
┌────────────────┬────────┬─────────────────────┬─────────────┐
│ transaction_id ┆ price  ┆ payment_date        ┆ customer_id │
│ ---            ┆ ---    ┆ ---                 ┆ ---         │
│ str            ┆ i64    ┆ str                 ┆ str         │
╞════════════════╪════════╪═════════════════════╪═════════════╡
│ T0000005113    ┆ 295000 ┆ 2019-06-15 07:20:27 ┆ TS169261    │
│ T0000005114    ┆ 50000  ┆ 2019-06-15 07:35:47 ┆ HI599892    │
│ T0000005115    ┆ 85000  ┆ 2019-06-15 07:56:36 ┆ HI421757    │
│ T0000005116    ┆ 50000  ┆ 2019-06-15 08:40:55 ┆ OA386378    │
│ T0000005117    ┆ 120000 ┆ 2019-06-15 08:44:23 ┆ TS506913    │
└────────────────┴────────┴─────────────────────┴─────────────┘

In [169]:
transaction = pl.concat([transaction_1, transaction_2],how="vertical")
transaction.head(
    
)

shape: (5, 4)
┌────────────────┬────────┬─────────────────────┬─────────────┐
│ transaction_id ┆ price  ┆ payment_date        ┆ customer_id │
│ ---            ┆ ---    ┆ ---                 ┆ ---         │
│ str            ┆ i64    ┆ str                 ┆ str         │
╞════════════════╪════════╪═════════════════════╪═════════════╡
│ T0000000113    ┆ 210000 ┆ 2019-02-01 01:36:57 ┆ PL563502    │
│ T0000000114    ┆ 50000  ┆ 2019-02-01 01:37:23 ┆ HD678019    │
│ T0000000115    ┆ 120000 ┆ 2019-02-01 02:34:19 ┆ HD298120    │
│ T0000000116    ┆ 210000 ┆ 2019-02-01 02:47:23 ┆ IK452215    │
│ T0000000117    ┆ 170000 ┆ 2019-02-01 04:33:46 ┆ PL542865    │
└────────────────┴────────┴─────────────────────┴─────────────┘

In [170]:
print(len(transaction_1))
print(len(transaction_2))
print(len(transaction))

5000
1786
6786

In [171]:
transaction_detail_2 = pl.read_csv("Data/transaction_detail_2.csv")
transaction_detail = pl.concat([transaction_detail_1, transaction_detail_2], how="vertical")

In [172]:
print(len(transaction_detail_1))
print(len(transaction_detail_2))
print(len(transaction_detail))

5000
2144
7144

In [173]:
join_data = transaction_detail.join(transaction[["transaction_id","payment_date","customer_id"]], on=["transaction_id"], how="left")
join_data.head()

shape: (5, 6)
┌───────────┬────────────────┬─────────┬──────────┬─────────────────────┬─────────────┐
│ detail_id ┆ transaction_id ┆ item_id ┆ quantity ┆ payment_date        ┆ customer_id │
│ ---       ┆ ---            ┆ ---     ┆ ---      ┆ ---                 ┆ ---         │
│ i64       ┆ str            ┆ str     ┆ i64      ┆ str                 ┆ str         │
╞═══════════╪════════════════╪═════════╪══════════╪═════════════════════╪═════════════╡
│ 0         ┆ T0000000113    ┆ S005    ┆ 1        ┆ 2019-02-01 01:36:57 ┆ PL563502    │
│ 1         ┆ T0000000114    ┆ S001    ┆ 1        ┆ 2019-02-01 01:37:23 ┆ HD678019    │
│ 2         ┆ T0000000115    ┆ S003    ┆ 1        ┆ 2019-02-01 02:34:19 ┆ HD298120    │
│ 3         ┆ T0000000116    ┆ S005    ┆ 1        ┆ 2019-02-01 02:47:23 ┆ IK452215    │
│ 4         ┆ T0000000117    ┆ S002    ┆ 2        ┆ 2019-02-01 04:33:46 ┆ PL542865    │
└───────────┴────────────────┴─────────┴──────────┴─────────────────────┴─────────────┘

In [174]:
print(len(transaction_detail))
print(len(transaction))
print(len(join_data))

7144
6786
7144

In [175]:
join_data = join_data.join(customer_master, on=["customer_id"], how="left")
join_data.head()

shape: (5, 14)
┌───────────┬────────────────┬─────────┬──────────┬─────┬────────┬─────┬────────────┬────────┐
│ detail_id ┆ transaction_id ┆ item_id ┆ quantity ┆ ... ┆ gender ┆ age ┆ birth      ┆ pref   │
│ ---       ┆ ---            ┆ ---     ┆ ---      ┆     ┆ ---    ┆ --- ┆ ---        ┆ ---    │
│ i64       ┆ str            ┆ str     ┆ i64      ┆     ┆ str    ┆ i64 ┆ str        ┆ str    │
╞═══════════╪════════════════╪═════════╪══════════╪═════╪════════╪═════╪════════════╪════════╡
│ 0         ┆ T0000000113    ┆ S005    ┆ 1        ┆ ... ┆ M      ┆ 30  ┆ 1989/7/15  ┆ 熊本県 │
│ 1         ┆ T0000000114    ┆ S001    ┆ 1        ┆ ... ┆ M      ┆ 73  ┆ 1945/11/29 ┆ 京都府 │
│ 2         ┆ T0000000115    ┆ S003    ┆ 1        ┆ ... ┆ M      ┆ 42  ┆ 1977/5/17  ┆ 茨城県 │
│ 3         ┆ T0000000116    ┆ S005    ┆ 1        ┆ ... ┆ F      ┆ 47  ┆ 1972/3/17  ┆ 兵庫県 │
│ 4         ┆ T0000000117    ┆ S002    ┆ 2        ┆ ... ┆ M      ┆ 74  ┆ 1944/12/17 ┆ 長崎県 │
└───────────┴────────────────┴─────────┴──────────┴─────┴────────┴─────┴────────────┴────────┘

In [176]:
join_data = join_data.join(item_master, on=["item_id"], how="left")
join_data.head()

shape: (5, 16)
┌───────────┬────────────┬─────────┬──────────┬─────┬────────────┬────────┬───────────┬────────────┐
│ detail_id ┆ transactio ┆ item_id ┆ quantity ┆ ... ┆ birth      ┆ pref   ┆ item_name ┆ item_price │
│ ---       ┆ n_id       ┆ ---     ┆ ---      ┆     ┆ ---        ┆ ---    ┆ ---       ┆ ---        │
│ i64       ┆ ---        ┆ str     ┆ i64      ┆     ┆ str        ┆ str    ┆ str       ┆ i64        │
│           ┆ str        ┆         ┆          ┆     ┆            ┆        ┆           ┆            │
╞═══════════╪════════════╪═════════╪══════════╪═════╪════════════╪════════╪═══════════╪════════════╡
│ 0         ┆ T000000011 ┆ S005    ┆ 1        ┆ ... ┆ 1989/7/15  ┆ 熊本県 ┆ PC-E      ┆ 210000     │
│           ┆ 3          ┆         ┆          ┆     ┆            ┆        ┆           ┆            │
│ 1         ┆ T000000011 ┆ S001    ┆ 1        ┆ ... ┆ 1945/11/29 ┆ 京都府 ┆ PC-A      ┆ 50000      │
│           ┆ 4          ┆         ┆          ┆     ┆            ┆        ┆           ┆            │
│ 2         ┆ T000000011 ┆ S003    ┆ 1        ┆ ... ┆ 1977/5/17  ┆ 茨城県 ┆ PC-C      ┆ 120000     │
│           ┆ 5          ┆         ┆          ┆     ┆            ┆        ┆           ┆            │
│ 3         ┆ T000000011 ┆ S005    ┆ 1        ┆ ... ┆ 1972/3/17  ┆ 兵庫県 ┆ PC-E      ┆ 210000     │
│           ┆ 6          ┆         ┆          ┆     ┆            ┆        ┆           ┆            │
│ 4         ┆ T000000011 ┆ S002    ┆ 2        ┆ ... ┆ 1944/12/17 ┆ 長崎県 ┆ PC-B      ┆ 85000      │
│           ┆ 7          ┆         ┆          ┆     ┆            ┆        ┆           ┆            │
└───────────┴────────────┴─────────┴──────────┴─────┴────────────┴────────┴───────────┴────────────┘

In [177]:
join_data = join_data.with_columns((pl.col('quantity')*pl.col('item_price')).alias("price"))
join_data[["quantity","item_price","price"]].head()

shape: (5, 3)
┌──────────┬────────────┬────────┐
│ quantity ┆ item_price ┆ price  │
│ ---      ┆ ---        ┆ ---    │
│ i64      ┆ i64        ┆ i64    │
╞══════════╪════════════╪════════╡
│ 1        ┆ 210000     ┆ 210000 │
│ 1        ┆ 50000      ┆ 50000  │
│ 1        ┆ 120000     ┆ 120000 │
│ 1        ┆ 210000     ┆ 210000 │
│ 2        ┆ 85000      ┆ 170000 │
└──────────┴────────────┴────────┘